<ion-view>
  <ion-nav-title align-title="center">
    <span class="text-center">{{"PRIVACY_POLICY" | translate}}</span>
  </ion-nav-title>
  <ion-content ng-init="policyFile='templates/partials/privacy_'+'en'+'.html'">
    <div class="navbar-fixed cnext-bar"></div>
    <div ng-include="policyFile"></div>
    <div class="padding text-center">
      <button class="button button-cnext" onclick="window.open('http://cnext.tuc.gr/legal/privacy_policy.html', '_system', 'location=yes');return false;">{{'FULL_POLICY' | translate}}</button>
    </div>
  </ion-content>
</ion-view>
