.maps-view
{
	background-color: $content-bg !important;

	.map-menu{
		width: 100%;
		height:8% !important;
		background-color: $bar-dark-bg;

	}
	#map-wrapper{
		width: 100%;
		height:95% !important;
		overflow: scroll;
	}
	.center-map-action
	{
		position:absolute;
		top:35px;
		z-index:9;

		.item.item-input-inset
		{
			padding: 0px 5px;
		}

		.item-input-wrapper
		{
			background:none;
		}
	}

	map, #map, #game-map
	{
		width: 100%;
		height: 100% !important;
	}

	.scroll
	{
		height: 100%;
	}
}
