<div class="margin-horizontal-4">
  <p class="text-bold padding-vertical font-larger text-center cnext-purple-text bordered-bottom-dark">{{'POLICY_SUMMARY' | translate}}</p>
  <p class="padding text-bold">Personal Data collected for the following purposes and using the following services:</p>
  <div class="list">
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Displaying content from external platforms</p>
      <p class="note">Google Maps widget</p>
      <p class="">Personal Data: Cookies and Usage data</p>
    </div>
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Registration and authentication</p>
      <p class="note">Facebook Authentication</p>
      <p class="">Personal Data: various types of Data as specified in the privacy policy of the service</p>
    </div>
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Location-based interactions</p>
      <p class="note">Geolocation</p>
      <p class="">Personal Data: geographic position</p>
    </div>
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Access to third party services' accounts</p>
      <p class="note">Access to the Facebook account</p>
      <p class="">Permissions: About Me and Email</p>
    </div>
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Content commenting</p>
      <p class="">Users can make and publish their comments on the contents of this Application</p>
    </div>
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Device information</p>
      <p class="">We collect information from or about the computers, phones, or other devices where
        you install or access this Application</p>
    </div>
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Capture things you do and collect information you provide</p>
      <p class="">Collect the content and other information you provide</p>
    </div>
  </div>
  <p class="padding text-bold">Further information about Personal Data</p>
  <div class="list">
    <div class="item item-text-wrap">
      <p class="text-bold text-black">Push Notifications</p>
      <p class="">This Application may send push notifications to the User.</p>
    </div>
  </div>
</div>
