<div class="padding-4">
  <p>Last modified: May 10, 2016</p>
  <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the cNext mobile application (the “Service”)
    owned and operated by the Technical University of Crete – Greece ("us", "we", or "our").
    These Terms govern your use an access of the Service and they constitute a legally binding agreement between you and us.<br/>
    Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.
    These Terms apply to all visitors, users and others who access or use the Service.
  </p>
  <p class="text-bold">
    By accessing or using the Service you agree to be bound by these Terms. If you are using the Services on behalf of an organization or entity
    (“Organization”), then you are agreeing to these Terms on behalf of that Organization and you represent and warrant that you have the authority
    to bind the Organization to these Terms. In that case, “you” and “your” refers to you and that Organization.
    Please note that your use and access of our Service constitutes your acceptance of these Terms and your agreement to be bound by them.
    If you disagree with any part of the terms then you may not access the Service.
  </p>
  <h2>I. Sharing Your Content and Information</h2>
  <p>Our Service allows to post, share and otherwise make available certain information, text, photos, videos, and other material (“Content”).
    You represent and warrant that you are the owner of all rights, including all copy rights in and to all Content you submit.
    You agree that this Content: is shared (i.e. accessed and used) with everyone, including people off of Service, is associated with you
    (i.e., your name and profile picture) and is provided under the Licence <a href="#" onclick="window.open('http://creativecommons.org/licenses/by-nc-nd/4.0/', '_system', 'location=yes');return false;">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International</a>
  </p>
  <div class="margin-horizontal-4">
    <p class="text-center"><img src="img/by-nc-nd.png" width="100%"></p>
    <h2 class="bordered-bottom-dark">Licence Statement</h2>
    <h4>You are free to:</h4>
    <p><strong>Share</strong> - copy and redistribute the material in any medium or format</p>
    <h4>Under the following terms:</h4>
    <div class="list">
      <div class="item item-avatar-left item-text-wrap">
        <img src="img/cc_by.svg">
        <p class=""><strong>Attribution:</strong>You must give appropriate credit, provide a link to the license, and indicate if changes were made.
          You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
        </p>
      </div>
      <div class="item item-avatar-left item-text-wrap">
        <img src="img/cc_nc.svg">
        <p><strong>NonCommercial:</strong>You may not use the material for commercial purposes.</p>
      </div>
      <div class="item item-avatar-left item-text-wrap">
        <img src="img/cc_nd.svg">
        <p><strong>NoDerivatives:</strong>If you remix, transform, or build upon the material, you may not distribute the modified material.</p>
      </div>
    </div>
  </div>
  <h2>II. Protecting Other People's Rights and Objectionable Content Policy</h2>
  <p>It is prohibited to use the Service for the transmission, storage, publication of any Objectionable Content.
    Objectionable Content includes, but is not limited to: (i) content that offends third parties’ rights or material that has an immoral,
    obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (ii) content obtained,
    used and disseminated with no right and with an illegal way; (iii) content that infringes upon the rights of any third party,
    including copyright, trademark, privacy, publicity or other personal or proprietary right, or that is deceptive or fraudulent;
    (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms;
    (v) gambling, including without limitation, any online casino, sports books, bingo or poker; (vi) sexually explicit materials; and
    (vii) content that infringes or violates someone else's rights or otherwise violates the law. It is also prohibited to use the Service
    for posting anyone's identification documents or sensitive financial information.
  </p>
  <p>In such cases, we bear no responsibility for compensation against the offended parties and have the right to proceed with any action
    that can reduce the offence from the moment we become aware of the offence.
  </p>
  <p>We can remove or disable access to any Content you post if we believe that it violates these Terms or our policies.
    If you repeatedly violated these Terms, we will disable your account when appropriate.
  </p>
  <h2>III. Registration and Account Security</h2>
  <p>If you register to the Service you will not provide any false personal information or create an account for anyone other than yourself without
    permission, you will not create more than one personal accounts and    you will keep contact information accurate and up-to-date.
    If we disable your account, you will not create another one without permission.
  </p>
  <p>You will not share your password, let anyone else access your account or do anything else that might jeopardise the security of your account.</p>
  <h2>IV. Privacy</h2>
  <p>The Service may collect and use information about your usage of the Service, including certain types of information from and about your device.
    We designed our Privacy Policy to make important disclosures about how you can use the Service to share with others and how we
    collect and can use your content and information. We encourage you to read the Privacy Policy, and to use it to help you make informed decisions.
  </p>
  <h2>V. Termination</h2>
  <p>If you violate the letter or spirit of these Terms, or otherwise create risk or possible legal exposure for us, we can stop providing
    all or part of the Service to you. We will notify you by email or at the next time you attempt to access your account.
  </p>
  <h2>VI. Special Provisions</h2>
  <p>If you download or use the Service you agree that from time to time, the Service may download and install upgrades, updates and additional
    features in order to improve, enhance, and further develop the Service.
  </p>
  <h2>VII. Legal Provisions and References</h2>
  <p><strong>Changes to these Terms</strong><br/>
    We reserve the right to make changes to these Terms at any time by giving notice on this page. It is strongly recommended
    to check this page often, referring to the date of the last modification listed at the top. If you object to any of the changes to the Terms,
    you must cease using this Service. Unless stated otherwise, the then-current Terms apply to the usage of the Service.
  </p>
  <p><strong>Disputes</strong><br/>
    You will resolve any claim, cause of action or dispute (claim) you have with us arising out of or relating to these Terms
    exclusively in the local Courts of Chania, Crete and you agree to submit to the personal jurisdiction of such courts for the
    purpose of litigating all such claims. The Greek laws will govern these Terms, as well as any claim that might arise between
    you and us, without regard to conflict of law provisions.
  </p>
  <p><strong>Contact</strong><br/>Technical University of Crete<br/>University Campus, Akrotiri<br/>73100 Chania<br/>GREECE<br/><br/>
    email:<br/>Rector:<br/>
    rector@central.tuc.gr<br/>
    Deputy Rector of Finance, Planning and Development:<br/>
    vice-rector-fin@central.tuc.gr<br/>
    Website: <a href="#" onclick="window.open('http://www.tuc.gr', '_system', 'location=yes');return false;">www.tuc.gr</a>
  </p>
</div>
